.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-container {
  background-color: #282c34;
  min-height: auto;
  width: auto;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section label {
  font-size: calc(2px + 2vmin);
}

.form-section input[type='text'] {
  font-size: calc(2px + 2vmin);
}

.button-input {
  font-size: calc(5px + 2vmin);
}

.m-1 {
  margin: 1em;
}

.p-1 {
  padding: 1em
}

.text-light {
  color:ghostwhite;
}